<ion-tabs>
	<ion-tab-bar slot="bottom">

		<ion-tab-button tab="calendar">
			<div class="d-flex flex-column">
				<i class="fas fa-calendar"></i>
				<span>Calendário</span>
			</div>
		</ion-tab-button>

		<ion-tab-button tab="punch-clock" [routerLink]="['/tabs/punch-clock']">
			<div class="d-flex flex-column">
				<i class="fas fa-clock"></i>
				<span>Bater Ponto</span>
			</div>
		</ion-tab-button>

		<ion-tab-button tab="home">
			<div class="d-flex flex-column">
				<i class="fas fa-star"></i>
				<span>Relatório</span>
			</div>
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>