<ion-content [fullscreen]="true">
	
	<div class="container h-100">

		<div class="d-flex flex-column align-items-center justify-content-center h-100">

			<div class="alert text-center p-4 shadow-lg"
				[class.alert-success]="balance > 0"
				[class.alert-warning]="balance < 0"
				>
	
				<h1 class="mb-3">Você possui um saldo {{ balance > 0 ? 'positivo' : 'negativo' }} de <b>{{ balanceTime }}</b> horas!</h1>
	
				<div class="fs-1">
					<i class="fad"
						[class.fa-smile]="balance > 0"
						[class.fa-sad-tear]="balance < 0"
						>
					</i>
				</div>
	
			</div>

		</div>

	</div>
	
</ion-content>
